@import "../../../assets/styles/placeholders.scss";

.how {
    position: relative;
    padding: 4rem 0;
    background-color: black;
    .how_overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../../../assets/images/slider/slide_2.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;
        z-index: 1;
        opacity: 0.6;
    }
    .how-holder {
        position: relative;
        z-index: 2;
        .how-main-title,
        .how-main-subtitle {
            color: $whiteColor;
            text-align: center;
            font-size: 40px;
        }
        .how-main-subtitle {
            font-size: 25px;
        }
    }
}
