@import "../../assets/styles/placeholders.scss";
@import "./menu_icon.css";
@import "./main_search_bar.scss";
@import "./user_account.scss";

.nav-holder {
    position: relative;
    height: 65px;
    .navbar {
        background-color: $primaryColor;
        height: 65px;
        .holder {
            position: relative;
            @include flex(start, start, row, wrap);
            width: 100%;
            .nav-left {
                @include flex(start, start, row, wrap);
                .menu-icon {
                    cursor: pointer;
                    margin: 8px 30px 0 0;
                }
                .main-logo {
                    width: 68px;
                    height: 39px;
                }
            }
            .nav-right {
                margin: 0 0 0 auto;
                display: flex;
                // Start Notifications //
                .notif-dropdown {
                    margin: 0 1.5rem;
                    .notif-dropdown-toggle {
                        position: relative;
                        background-color: transparent;
                        border: none;
                        box-shadow: none;
                        height: 40px;
                        .notif-dropdown-icon-active {
                            position: absolute;
                            height: 13px;
                            width: 13px;
                            top: 5px;
                            right: 15px;
                            border: 2px solid $primaryColor;
                            border-radius: 50%;
                            background-color: $firstColor;
                        }
                        .notif-dropdown-icon {
                            font-size: 22px;
                            line-height: 1.2;
                        }
                        &:hover {
                            background-color: $firstColor;
                            .notif-dropdown-icon-active {
                                border-color: $firstColor;
                                background-color: $whiteColor;
                            }
                        }
                        &::after {
                            border: none;
                        }
                    }
                    .notif-dropdown-menu {
                        width: 270px;
                        .notif-dropdown-title {
                            color: $eleventhColor;
                            font-size: 13px;
                            font-weight: 500;
                            padding: 0 10px;
                            margin-bottom: 0.3rem;
                            display: block;
                        }
                        .notif-drop-item {
                            white-space: normal;
                            padding: 0 10px;
                            font-size: 15px;
                            .notif-item-highlight {
                                color: $firstColorHover;
                            }
                            &:hover {
                                background-color: transparent;
                            }
                        }
                        .notif-drop-item-all {
                            position: relative;
                            color: $firstColorHover;
                            text-align: center;
                            font-weight: 500;
                            transition: $transition-200ms;
                            .arrow-right {
                                position: absolute;
                                margin-left: 10px;
                                &:after {
                                    content: "";
                                    display: inline-block;
                                    width: 0;
                                    height: 0;
                                    border-left: 5px solid $firstColorHover;
                                    border-top: 5px solid transparent;
                                    border-bottom: 5px solid transparent;
                                    vertical-align: middle;
                                }
                                &:before {
                                    width: 15px;
                                    height: 2px;
                                    background: $firstColorHover;
                                    content: "";
                                    display: inline-block;
                                    vertical-align: middle;
                                    transition: $transition-200ms;
                                }
                            }
                            &:hover {
                                color: $primaryColor;
                                .arrow-right {
                                    &:after {
                                        border-left-color: $primaryColor;
                                    }
                                    &:before {
                                        background: $primaryColor;
                                        width: 20px;
                                    }
                                }
                            }
                        }
                    }
                }
                // End Notifications //
                // Start Main User Account //
                .main-user-acc {
                    @extend .user-acc;
                    @include flex(start, start, row, wrap);
                    padding: 0;
                    margin-top: 2px;
                }
                // End Main User Account //
            }
        }
        // Start Dropdown //
        .dropdown-slide {
            position: absolute;
            background-color: $primaryColor;
            left: 0;
            top: 65px;
            transition: $transition-200ms;
            opacity: 0;
            height: 91vh;
            border-top: 1px solid $ninthColor;
            @include flex(start, start, row, wrap);
            // Start Dropdown Left//
            .dropdown-left {
                position: relative;
                padding: 0 2.5rem;
                height: 100%;
                border-right: 1px solid $ninthColor;
                .dropdown-media {
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    transform: translate(-50%, 0);
                    .social-links {
                        text-decoration: none;
                        text-align: center;
                        .icons {
                            color: $whiteColor;
                            font-size: 18px;
                            margin-bottom: 1.5rem;
                            transition: $transition-200ms;
                            display: block;
                            &:hover {
                                color: $firstColor;
                            }
                        }
                    }
                }
            }
            // End Dropdown Left//
            // Start Dropdown Right//
            .dropdown-right {
                position: relative;
                padding: 1rem;
                height: 100%;
                width: 300px;
                .dropdown-right-top,
                .dropdown-right-bottom {
                    .nav-dropdown-top-ul,
                    .nav-dropdown-bottom-ul,
                    .nav-dropdown-top-sub-ul {
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        .nav-dropdown-top-li,
                        .nav-dropdown-bottom-li {
                            margin-bottom: 1rem;
                            .nav-dropdown-main-links,
                            .nav-dropdown-main-sub-links,
                            .nav-dropdown-main-links {
                                color: $whiteColor;
                                font-size: 23px;
                                text-decoration: none;
                                transition: $transition-200ms;
                                &:hover {
                                    color: $firstColorHover;
                                }
                            }
                            .nav-dropdown-links-active {
                                color: $firstColorHover;
                            }
                            .nav-dropdown-top-sub-ul {
                                .nav-dropdown-top-sub-li {
                                    .nav-dropdown-main-sub-links {
                                        opacity: 0.65;
                                        font-size: 15px;
                                        &:hover {
                                            opacity: 1;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                // Start Search Box//
                .search-box {
                    display: none;
                    margin-top: 0.5rem;
                    .inputs {
                        border: none;
                        outline: none;
                        height: 40px;
                        font-size: 14px;
                    }
                    .search {
                        padding: 5px 10px;
                        background-color: $tenthColor;
                        border-radius: 5px 0 0 5px;
                        width: 80%;
                        color: white;
                    }
                    ::placeholder {
                        color: $whiteColor;
                        opacity: 0.5;
                    }
                    .submit {
                        background-color: $tenthColor;
                        border-radius: 0 5px 5px 0;
                        transition: $transition-200ms;
                        background-image: url("../../assets/images/search.png");
                        background-position: 50%;
                        background-repeat: no-repeat;
                        background-size: 15px 15px;
                        width: 20%;
                        &:hover {
                            background-color: $firstColorHover;
                        }
                    }
                }
                // End Search Box//
                .dropdown-right-bottom {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    // .user-acc {
                    //     display: none;
                    //     padding: 0 1rem 1rem;
                    //     .profile-pic {
                    //         border-radius: 50%;
                    //         height: 35px;
                    //         width: 35px;
                    //     }
                    //     .username {
                    //         color: $whiteColor;
                    //         margin-left: 10px;
                    //         white-space: nowrap;
                    //         overflow: hidden;
                    //         text-overflow: ellipsis;
                    //         max-width: 110px;
                    //         display: inline-block;
                    //         margin-top: 5px;
                    //     }
                    // }
                    .nav-dropdown-bottom-ul {
                        padding: 0 1rem;
                    }
                }
            }
            // End Dropdown Right//
        }
        .dropdown-tog {
            opacity: 1;
        }
        // End Dropdown //
    }
}
// Start Media Query //
@include media-breakpoint-down(md) {
    .nav-holder {
        .navbar {
            .holder {
                .nav-right {
                    .main-search-box,
                    .main-user-acc {
                        display: none;
                    }
                }
            }
            .dropdown-slide {
                .dropdown-right {
                    width: 200px;
                    .search-box {
                        @include flex(start, left, row, nowrap);
                    }
                    .dropdown-right-bottom {
                        .user-acc {
                            @include flex(start, start, row, wrap);
                        }
                    }
                }
            }
        }
    }
}
// End Media Query //
